@import "tailwindcss";

:root {
	--font-sans: Arial, Helvetica, sans-serif;
	--font-mono: ui-monospace, SFMono-Regular, Menlo, monospace;
	--color-ink: #171717;
	--color-body: #4d4d4d;
	--color-mute: #8f8f8f;
	--color-canvas: #fafafa;
	--color-hairline: #ebebeb;
	--color-link: #0070f3;
}

@theme {
	--font-sans: Arial, Helvetica, sans-serif;
	--font-mono: ui-monospace, SFMono-Regular, Menlo, monospace;
	--color-ink: #171717;
	--color-body: #4d4d4d;
	--color-mute: #8f8f8f;
	--color-canvas: #fafafa;
	--color-hairline: #ebebeb;
	--color-link: #0070f3;
}
